@page
@model MyOrdersModel
@{
    ViewData["Title"] = "MyOrders";
    ViewData["Message"] = "Here you can see all orders related to your user account";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <!-- TO BE CONTINUED
    <vc:searched-order //AT//orderNumber= /> -->
    <!-- Begin View Wrapper -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    @ViewData["Message"]
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>@ViewData["Title"]</h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            @if (Model.orderList.Orders != null)
                            {
                                foreach (Order order in Model.orderList.Orders)
                                {
                                    <a asp-page="OrderDetails" asp-route-orderNumber="@order.orderNumber" class="list-group-item">
                                        <h4 class="fa-bo">
                                            Order number: @order.orderNumber
                                            @if (order.delivered)
                                            {
                                                <span class="pull-right">Delivered on: @order.dropOffDeadline</span>
                                            }
                                            else if (order.pickedUp || order.awaitingPickUp)
                                            {
                                                <span class="pull-right">Delivering on: @order.dropOffDeadline</span>
                                            }
                                            else
                                            {
                                                <span class="pull-right">Delivery deadline: @order.dropOffDeadline</span>
                                            }
                                        </h4>
                                        <p class="list-group-item-text">
                                            Order Status:
                                            @if (order.delivered)
                                            {<div class="text-success">Delivered</div>}
                                            else if (order.pickedUp)
                                            { <div class="text-warning">In transit</div>}
                                            else if (order.awaitingPickUp)
                                            { <div class="text-warning">Awaiting PickUp</div> }
                                            else
                                            { <div class="text-danger">No courier assigned</div>}
                                        </p>
                                        <div class="progress">
                                            @if (order.delivered)
                                            {
                                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    <span class="sr-only">
                                                        100% Complete (success)
                                                    </span>
                                                </div>
                                            }
                                            else if (order.pickedUp)
                                            {
                                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                    <span class="sr-only">
                                                        40% In Transit (success)
                                                    </span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    <span class="sr-only">
                                                        0% Awaiting PickUp(success)
                                                    </span>
                                                </div>
                                            }
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="pull-right btn btn-primary" href="#">See all</a> <br />
                        <span class="clearfix"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End View Wrapper -->
</body>
</html>